# Přípony souborů generované IDE (CLion)
*.iml
.idea/

# Soubory a složky generované CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Výstupy kompilace (build artifacts)
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.d

# Běžné soubory OS nebo editorů
.DS_Store
Thumbs.db
*~
*.swp
*.swo

# Logy nebo dočasné soubory
*.log
*.tmp

TODO.txt